<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passmanager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- TODO: Use temporary permissions. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PassManager">
        <activity
            android:name=".UpdateMasterPassActivity"
            android:label="@string/title_activity_update_masterpass"/>
        <activity android:name=".CreateOrUpdateCategoryActivity" />
        <activity
            android:name=".EntryActivity"
            android:label="@string/title_activity_entry" />
        <activity android:name=".CreateOrUpdateEntryActivity" />
        <activity
            android:name=".EntriesMenuActivity"
            android:label="@string/title_activity_entries_menu"
            android:theme="@style/Theme.PassManager.NoActionBar"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".EntriesMenuActivity"/>
        <activity
            android:name=".CreateDbActivity"
            android:label="@string/create_new_database"/>
        <activity
            android:name=".AuthActivity"
            android:label="@string/title_activity_auth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>